.modal{
    background:rgb(88, 112, 248);
    width: 500px;
    height: 600px;
    border-radius: 15px;
    padding: 20px;
    z-index: 100;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    justify-content: flex-end;
    font-size: 25px;

}
.body{
    padding-top: 10px;
    overflow-y: scroll;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: center;
    background-color: rgba(0,0,0,.7);
    padding: 20px;
    z-index: 9999;
}